// Header
.header {
  background-color: $clr-main;
  padding-block: 1rem;

  &__logo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-inline: auto;
  }
}

// Body
.body {
  height: 100%;
  display: flex;
}

// Inputs
.inputs {
  @include halfPage;
  display: flex;
  flex-direction: column;
  background-color: $clr-main;
  color: $clr-text
}

// Preview
.preview {
  @include halfPage;
  background: $clr-text;

  &__result {
    background-color: $clr-main;
  }
}